<p>
  B2SHARE has integrated B2NOTE widget to annotate the records.
<p>
<div class="d-flex justify-content-center">
  <a href="https://trng-b2share.eudat.eu" target="_blank" class="btn btn-primary">Access B2SHARE training instance</a>
</div>
<div class="d-flex justify-content-center mt-2 mb-2">
  <a href="https://b2share.eudat.eu" target="_blank" class="btn btn-primary mt-2">Access B2SHARE production</a>
</div>
<p>
  Here is how to access the B2NOTE widget from a B2SHARE file record page.
</p>
<ol>
  <li>Pick a file in B2SHARE.</li>
  <li>Click on the arrow next to the file you want to annotate to reveal the "Annotate in B2NOTE" button.</li>
  <li>Click on the button to show the widget. </li>
</ol>
<img src="/img/integration-b2share.png" alt="B2SHARE integration" width="800px" style="border: 1px solid gray">
